@font-face {
    font-family: punishment;
    src: url("../fonts/punishment-font/Punishment-DPwE.ttf");
  }

  h1 {
    font-family: punishment;
    text-shadow: 2px 2px #1f1c1c;
    letter-spacing: 2px;
    font-size: 5rem;
  }

body {
    background-image: url("../images/double-bubble-dark.png");
}

.dropdown-item:hover {
    background-color: tomato;
}

.char1:hover {
    opacity: .5;
}

#title {
    bottom: 8rem;
}

