/* -----Link downloaded font----- */
@font-face {
    font-family: punishment;
    src: url("../fonts/punishment-font/Punishment-DPwE.ttf");
  }

/* -----Style elements----- */
body {
    /* background-image: url("../Images/double-bubble-dark.png"); */
    background-color: black;
}

h1 {
    font-family: punishment;
    text-shadow: 2px 2px #1f1c1c;
    letter-spacing: 2px;
    font-size: 5rem;
}

p {
    font-family: punishment;
    font-size: 2rem;
    text-shadow: 2px 2px #1f1c1c;
    letter-spacing: 2px;
}

a:hover {
    text-decoration: none;
}

/* -----Style classes----- */
.dropdown-item:hover {
    background-color: tomato;
}

.char1:hover {
    opacity: .5;
}

.recipe_img {
    width: 100%;
}

.btn:focus {
    outline: none;
    box-shadow: none;
  }

/* -----Style id's----- */
#title {
    bottom: 8rem;
    margin-bottom: -4.5rem;
}
